
body {
    font-family: roboto, sans-serif;
    
}

.top {
    background-color: #1F2937;
}

.header {
    font-size: 24px;
    color: #F9FAF8; 
    font-weight: bolder;
}

ul {
    font-size: 18px;
    color: #E5E7EB; 
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 4px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 20px;
    margin-bottom: 100px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}


.below-header {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    
}

.title {
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    gap: 10px;
    
}

img {
    width: 800px;
    height: 300px;
    margin-bottom: 100px;
}

button {
    border: none;
    padding: 20px;
    border-radius: 8px;
    padding: 8px 32px;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bolder;
    color: #F9FAF8;
}

.second {
    margin-top: 50px;
    margin-bottom: 60px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #1F2937
}

.image-c {
    width: 275px;
    height: 200px;
    margin-bottom: 10px;
    border: 5px solid #3882F6;
    border-radius: 18px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: 35px;   */
    padding: 37px; 
    color: #1F2937;
}

.third {
    background-color: #E5E7EB;
    padding: 110px 275px;
    
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic; 
    /* flex-wrap: wrap; */

}

.person {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin-right: 80px;
}

.container-fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 100px 100px;  */
    background-color: #3882F6;
    margin: 100px 200px;  
    padding: 50px 150px;
    border-radius: 8px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
}

.join {
    font-size: 24px;
    color: #F9FAF8;
}

.sign-up {
    font-size: 18px;
    color: #E5E7EB;
}

.last-button {
    border: 2px solid #F9FAF8;
}

/*.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.fifth {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.copyright {
    margin: 40px 0px;
    font-size: 18px;
}